.language-switcher{
    display: flex;

    .LngSwitcher {
        background: none;
        border: none;
        color: var(--white-color);

        text-transform: uppercase;
        font-weight: bold;

        margin: 0 .35rem;
        cursor: pointer;

        transition: all 0.3s ease-in-out;

        &:hover {
            color: var(--secondaryLight-color);
            text-shadow: 1px 1px var(--secondary-color);
        }
    }


    > p {
        color: var(--white-color);
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
    }

    > svg{
        color: var(--white-color);
    }
}