@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #020211;
  --primaryLight-color: #07051f;
  --secondary-color: #3605e6;
  --secondaryLight-color: #0044ff;
  --tertiary-color: #070c29;
  --tertiaryLight-color: #0d163f;
  --white-color: #e9e5e5;
  --black-color: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 2px;             
}

body::-webkit-scrollbar-track {
  background: var(--primary-color);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--fifth-color);   
  border-radius: 5px;     

}
