@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #151530;
  --primaryLight-color: #171b35;
  --secondary-color: #1100ff;
  --secondaryLight-color: #0b30fd;
  --tertiary-color: #101325;
  --tertiaryLight-color: #36468d;
  --white-color: #ffffff;
  --black-color: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 2px;             
}

body::-webkit-scrollbar-track {
  background: var(--primary-color);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--fifth-color);   
  border-radius: 5px;     

}
